// Sidebar
section#sidebar
    // Intro
    section#intro
        a.logo(href='/')
          img
        header
            h2 WACA BLOG !!
            p 개발 일기장
    section
        .mini-posts
            article.mini-post
                header
                    h3
                        a(href='/board/skill/1') 개발일기
                    a.author(href='/contact') waca
            article.mini-post
                header
                    h3
                        a(href='/board/diary') 일상
                    a.author(href='/contact') waca
            if user
              article.mini-post
                header
                  h3
                    a(href='/board/write') 글쓰기
    // Posts List
    section
        ul.posts
            li
                article
                    header
                        h3
                            a(href='#') 미니포스트
                        time.published(datetime='2015-10-20') 시간넣어야함
                    a.image(href='#') 이미지
    // About
    section.blurb
        h2 Contact me
        p
            | 개인적인 생각, 개발하다가 느낀점을 적는 곳 입니다. 문의나 궁금하신점은 이메일로!
        ul.actions
            li
                a.button(href='/contact') CONTACT
    section#footer
        ul.icons
            li
                a.fa-twitter(href='https://twitter.com/waca08_18')
                    span.label Twitter
            li
                a.fa-facebook(href='https://facebook.com/tk5436')
                    span.label Facebook
            li
                a.fa-envelope(href='/contact')
                    span.label Email
        p.copyright
            | © All rights reserved.
            | .