header#header
  h1
      a(href='/') 개인블로그
  nav.links
      ul
          li
              a(href='/board') Board
          li
              a(href='/picture') Picture
          li
              a(href='/contact') CONTACT
  nav.main
      ul
          li.search
              a.fa-search(href='#search') Search
              form#search(method='get', action='/search')
                  input(type='text', name='query', placeholder='Search')
          li.menu
              a.fa-bars(href='#menu') Menu
// Menu
section#menu
  // Search
  section
      form.search(method='get', action='/search')
          input(type='text', name='query', placeholder='Search')
  // Links
  section
      ul.links
          li
            a(href='/board')
              h3 BOARD
          li
            a(href='/PICTURE')
              h3 PICTURE
              p 사진
          li
            a(href='/contact')
              h3 CONTACT
              p 할말은 이메일로 보내주세연
          li
            a(href='/signup')
              h3 SIGN UP
              p 회원가입
          if user
            li
              a(href='/account')
                if user.picture
                  img(src=user.picture)
                else
                  img(src=user.gravatar)
            li
              a(href='/account')
                h3 My Account
  // Actions
  section
   if user
     ul.actions.vertical
       li
         a.button.big.fit(href='/logout') Log Out
   else
     ul.actions.vertical
       li
         a.button.big.fit(href='/login') Log In