extends layout

block content
  article
    .panel
      .panel-heading
        h3.panel-title Contact Form
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form.form-horizontal(method='POST')
          .form-group
            label.col-sm-2(for='name') Name
            .col-sm-8
              input.form-control(type='text', name='name', id='name', autofocus=true)
          .form-group
            label.col-sm-2(for='email') Email
            .col-sm-8
              input.form-control(type='email', name='email', id='email')
          .form-group
            label.col-sm-2(for='message') Body
            .col-sm-8
              textarea.form-control(name='message', id='message', rows='7')
          .form-group
            .col-sm-offset-2.col-sm-8
              button.btn.btn-success(type='submit') Send
