doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/content-tools.min.css')
    //
      if lte IE 8link(rel='stylesheet', href='/css/ie8.css')
    //
      if lte IE 9link(rel='stylesheet', href='/css/ie9.css')
      
  body
    #wrapper
      include includes/header
      #main
        block content
      include includes/footer

    script(src='/js/lib/jquery.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/skel.min.js')
    script(src='/js/lib/util.js')
    script(src='/js/main.js')
    

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
