extends ../layout

block content
  article
    .panel
      .panel-body
        table
          tr
            td NO
            td TITLE
            td AUTHOR
            td DATE
          -if(item)
            -for(var i in item)
              tr
                td !{item[i].content_id}
                td !{item[i].heading}
                td !{item[i].author}
                td !{moment(item[i].createAt).format("YYYY-MM-DD")}
  -if(item)
    -for(var i =0; i<item.length ; i++)
      article.post
        header
          .title
            !{item[i].heading}
          .meta
            time.published
              !{moment(item[i].createAt).format("MMM D, YYYY")}
            a.author
              span.name !{item[i].author}
        !{item[i].content}
        footer
          ul.actions
            li
              a.button.big(href="/blog/view/#{item[i].content_id}") Continue Reading
          ul.stats
             li
               a(href='#') General
             li
               a.icon.fa-heart(href='#') 28
             li
               a.icon.fa-comment(href='#') 128
