extends ../layout

block content
  script(src='/js/content-tools.js')
  script(src='/js/editor.js')
  script(type='text/javascript').
  article
    .panel
      .panel-body
          h1(style="background-color:#2980B9; text-align:center; color: #FFFFFF") Click the blue pencil icon top-left
          div(data-editable data-name="heading")
            h1(style="text-align:center;") here title
          div(data-editable data-name='content')
            h1(style="text-align:center;") here content